body {
  font-family: Arial, sans-serif;
  background: #f1f5f9;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  background: white;
  width: 700px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
}

h1 {
  text-align: center;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input, select, button {
  padding: 10px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.present {
  color: green;
  font-weight: bold;
}

.absent {
  color: red;
  font-weight: bold;
}
